# Fichiers générés par ROS2
log/
build/
install/

src/log/
src/build/
src/install/

csv/
+bus_conv_fcns/

# Fichiers temporaires
*.log
*.pyc
*.slx
__pycache__/

# Fichiers auxiliaires LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.lof
*.lot
*.gz
*.bbl
*.blg
*.acn
*.bcf 
*.glo
*.glsdefs
*.ist 
*.run.xml
*.snm
*.nav
*.dvi
*.ps
*.avi
*.mkv
*.webm
*.acr
*.alg
# VSCode ou autres éditeurs
.vscode/
Rapport_de_Stage/build/

slprj/