# Fichiers générés par ROS2
log/
build/
install/

src/log/
src/build/
src/install/

+bus_conv_fcns/

# Fichiers temporaires
*.log
*.pyc
*.slx
*.pdf
*.csv
__pycache__/

# VSCode ou autres éditeurs
.vscode/

slprj/